<div class="register-account-container flex p-6 w-full h-full justify-center items-center">
    <div class="container flex gap-8 h-fit">
        <div [formGroup]="accountForm" class="left-section flex flex-col flex-1 gap-y-4">
            <h1 class="text-[72px] font-bold">Take Control of <span class="text-customHsl-accent">Your Money</span></h1>
            <p class="text-2xl">Personal Budgeting is the secret to Financial Freedom. Get Started today!</p>
            <input formControlName="name" type="text" class="input-select" placeholder="Enter account name" />

            <button [disabled]="accountForm.invalid" (click)="createAccount()"
                class="btn bg-customHsl-text text-white border-none w-fit text-[19px]">
                Create Account
            </button>
        </div>
        <div class="right-section flex-1">
            <img src="assets/images/budgeting_set_2.jpg">
        </div>
    </div>
</div>